<div id="<%= dom_id rating %>">
  <p>
    <strong>Author:</strong>
    <%= rating.author_id %>
  </p>

  <p>
    <strong>Recipe:</strong>
    <%= rating.Recipe_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= rating.comment %>
  </p>

  <p>
    <strong>Rate value:</strong>
    <%= rating.rate_value %>
  </p>

</div>
